:root {
    --max-width: 500px;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--td-gray-color-12);
    overflow: hidden;
}

app {
    height: 100%;
    width: 100%;
    position: relative;
    max-width: var(--max-width);
    background-color: var(--td-gray-color-10);
}

templates {
    display: none;
}

.flex {
    height: 100%;
    width: min(100vw, var(--max-width));
    display: flex;
    align-items: center;
    justify-content: center;
}

grid {
    display: grid;
}
